wksp
.DS_Store
target/
*.class
.idea/
*.iml
proj
evaluation/strategy_classifier/data/
evaluation/strategy_classifier/models/
evaluation/strategy_classifier/output/
evaluation/strategy_classifier/.venv/
.mvn/maven.config
